<div class="article-list-holder" *ngFor="let subCategory of subCategories">
  <h1 class="category">{{ subCategory.name }}</h1>
  <div style="padding: 0px 20px 20px 20px">
    <span class="summary" [innerHTML]="subCategory.summary"></span>
  </div>
  <div class="article-list" [style.--maxArticlesPerRow]="maxArticlesPerRow">
    <ng-container *ngIf="subCategory?.articles?.length; else noArticles">
      <div class="article-list-article" *ngFor="let articleId of subCategory.articles; let i = index;">
        <app-article-preview-card [articleId]="articleId"></app-article-preview-card>
      </div>
    </ng-container>
    <ng-template #noArticles>
      <div class="article-list-no-articles">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </div>    
</div>