<div class="article-preview wiggle-item">
  <a [routerLink]="['/article', article?.articleId]">
    <div class="article-preview-card-container">
        <div class="image-container">
          <img src="{{article?.imageURI}}" alt="Auxilium">
        </div>
          <h2>{{ article?.header | slice:0:40 }}</h2>
          <div class="article-preview-description">
            {{ strippedBody }}
          </div>
          <div class="tag-list" *ngIf="article?.meta?.tags?.length">
            <span class="tag-list-chip" *ngFor="let tag of article?.meta?.tags">{{ tag }}</span>
          </div>
        <div class="article-preview-category-tag">{{ article?.meta?.subCategory| uppercase }}</div>
    </div>
  </a>
</div>