<div class="home">
  <div class="content">
    <div class="search-box">
      <input
        class="search-input"
        placeholder="{{placeholder}}"
        type="text"
        [(ngModel)]="query"
        (keydown.enter)="search()"
      />
    </div>
  
    <img class="banner-image" src="assets/images/resources.jpeg" alt="Auxilium"/>
    <div class="content-details">
      <br/>
      <h1>Resources</h1>
      <div id="hallow-app">
        <!-- Source: https://hallow.com/blog/hallow-introduces-daily-gospel-widget/ -->
        <audio controls>
          <source src="https://24103.mc.tritondigital.com/OMNY_DAYBREAK_P/media-session/fd83c4b6-0ee0-417c-ac5c-6f163849cb02/d/clips/134e18ca-7af8-403f-a7eb-ad7f01861f48/e7258e0a-c82f-41fd-8df8-ade30145abb7/a3321d1e-f2e1-41d8-b50f-b28c0046a78b/audio/direct/t1740211344/Daybreak_for_February_22,_2025.mp3?t=1740211344" type="audio/mp3">
          Your browser does not support the audio element.
        </audio>
      </div>
    </div>
  </div>
</div>
