.home {
  display: flex;
  justify-content: center;
}
.content {
  max-width: 480px;
  padding:20px;
}
.content-details {
  padding: 20px 40px;
}

.banner-image {
  border-radius: 20px;
  margin-top: 20px;
  max-width: 600px;
  width:100%;
}

.search-input {
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
