<div class="home">
  <div class="content">
    <img class="banner-image" src="assets/images/resources.jpeg" alt="Auxilium"/>
    <div class="content-details">
      <br/>
      <h1>Resources</h1>
      <div id="hallow-app">
        <!-- Source: https://hallow.com/blog/hallow-introduces-daily-gospel-widget/ -->
        <iframe class="hallowWidgetL" src="https://widget.hallow.com/en/l/index.html"></iframe><style>iframe.hallowWidgetL {border:0;width:100%;height:230px;max-width:800px;min-width:280px;}</style>      
      </div>
    </div>
  </div>
</div>
