<div class="search-page">
  <div class="search-container">
    <div class="search-box">
      <input
        class="search-input"
        placeholder="{{placeholder}}"
        type="text"
        inputmode="search"
        [(ngModel)]="query"
        (keydown.enter)="search()"
        (focus)="onFocus()"
        (blur)="onBlur()"
        (ngModelChange)="onQueryChange($event)"
      />
      <ul *ngIf="showDropdown && mruQueries.length" class="dropdown-list">
        <li *ngFor="let q of mruQueries" (click)="query = q; search()">
          {{ q }}
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="searching">Searching...</div>
  <div class="search-error" *ngIf="!searching && searchError">{{ searchError }}</div>
  <ul>
    <li *ngFor="let result of results">
      <a [routerLink]="resultLink(result)">{{ resultTitle(result) }}</a>
      <div class="article-body">
        {{ resultSnippet(result) }}
      </div>
    </li>
  </ul>
</div>
