<div class="search-page">
  <div class="search-box">
    <input
      class="search-input"
      placeholder="{{placeholder}}"
      type="text"
      [(ngModel)]="query"
      (keyup.enter)="search()"
    />
  </div>
  <div *ngIf="searching">Searching...</div>
  <ul>
    <li *ngFor="let result of results">
      <a [routerLink]="['/article', result.id]">{{ result.article?.header }}</a>
      <div class="article-body">
        {{ stripHtml(result.article?.body || "") }}
      </div>
    </li>
  </ul>  
</div>
