.home {
  display: flex;
  justify-content: center;
}
.search-page {
  max-width: 540px;
  padding:20px;
  min-height: 500px;
}
.content-details {
  padding: 20px 40px;
}

.banner-image {
  border-radius: 20px;
  margin-top: 20px;
  max-width: 600px;
  width:100%;
}

.search-input {
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.search-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.search-container {
  position: relative;
  width: 400px;
}

.dropdown-list {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 0 0 10px 10px;
  z-index: 1000;
  padding: 0;
  margin: 0;
  list-style: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-list li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #f0f0f0;
}