<div class="article" appSwipeBrowse [swipeDisabled]="loading" (swipeLeft)="goNext()" (swipeRight)="goPrev()">
  <div class="article-toolbar" *ngIf="showBack">
    <app-back-link [fallback]="backFallback"></app-back-link>
  </div>
  <div class="page-loading" *ngIf="loading">
    <mat-spinner diameter="48"></mat-spinner>
  </div>
  <ng-container *ngIf="article">
    <div class="image-frame">
      <div class="image-box">
        <div class="clip-box">
          <img class="banner-image" src="{{article.imageURI}}" alt="Auxilium">
        </div>
      </div>
      <app-browse-pager
        *ngIf="showBack"
        [currentId]="articleId"
        [busy]="loading"
        (previous)="goPrev()"
        (next)="goNext()"
      ></app-browse-pager>
    </div>
    <app-search *ngIf="showSearch"></app-search>
    <div class="article-header-image-text">
      <h2>{{ article.header }}</h2>
      <div class="tag-list" *ngIf="article.meta?.tags?.length">
        <span class="tag-list-chip" *ngFor="let tag of article.meta.tags">{{ tag }}</span>
      </div>
    </div>

    <span *ngIf="isLoggedIn">
       <a class="editLink" [routerLink]="[editLink]">Edit Article</a> | 
      <a class="editLink" (click)="previewArticle()"[title]="lastUpdated">{{previewToggleText}}</a><span *ngIf="isPreview">&nbsp;&nbsp;<img [title]="lastUpdated" [src]="getStatusImage()" /> </span>
      <br/>
      <br/>
    </span>

    <div class="article-body" [innerHTML]="safeBodyHtml"></div>
    <br/>
    <br/>
    <span [title]="timestamp">
      {{ lastUpdated }}
    </span>
  </ng-container>
</div>
