.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  &-body {
    max-width: 480px;
    color: black;

    &-loading {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-top: 100px;
    }
  }
}

.banner-image {
  border-radius: 15px;
  margin-top: 20px;
  max-width: 480px;
  width: 100%;
  margin: auto;
}

.clip-box {
  max-width: 480px; /* Fixed width */
  max-height: 320px;
  display: flex;
  height: 100%;
  width: 100%;
}

.image-box {
  margin-top: 20px;
  max-width: 480px; /* Fixed width */
  max-height: 320px;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: black; /* Filler background */
  border-radius: 15px;
  overflow: hidden;
}

.editLink {
  cursor: pointer;
}

.youtube-embed {
  position: relative;
  padding-bottom: 56.25%; // 16:9
  height: 0;
  overflow: hidden;
  margin: 1rem 0;

  iframe {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
  }
}