.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.app-outlet-container {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  width: 100%;
  min-width: 0;
  overflow-x: hidden;
  .mat-grid-tile {
    border: 1px solid #000000;
  }

  > *:not(router-outlet) {
    width: 100%;
    min-width: 0;
    max-width: 100%;
  }
}

.app-footer {
  flex-shrink: 0;
}
