.home {
  display: flex;
  justify-content: center;
  .mat-grid-tile {
    border: 1px solid #000000;
  }
}
.content {
  max-width: 640px;
  min-width: 200px;
  padding:20px;
  justify-content: center;
}
.content-details {
  padding: 10px;
}

.banner-image {
  border-radius: 15px;
  margin-top: 20px;
  max-width: 480px;
  width:100%;
  margin: auto;
}

#hallow-app {
  float: right;
  margin: 5px;
}

.image-box {
  width: 100%;
  text-align: center;
}

.rosary {
  margin:10px;
}